<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>受講生一覧</title>
</head>
<body>

<h1>受講生情報の更新</h1>
<p>更新する内容を選択してください</p>
<p>更新する内容に間違いがなければ保存ボタンを押してください</p>
<table border="1">
  <thead>
  <tr>
    <th>
      <a th:href="@{'/updateName/' + ${studentDetail.student.studentId}}">名前
      </a></th>
    <td>
      <span th:text="${studentDetail.student.name}">山田太郎</span>
    </td>
  </tr>
  <tr>
    <th>
      <a th:href="@{'/updateFurigana/' + ${studentDetail.student.studentId}}">カナ名</a>
    </th>
    <td>
      <span th:text="${studentDetail.student.furigana}">ヤマダタロウ</span>
    </td>
  </tr>
  <tr>
    <th>
      <a th:href="@{'/updateNickname/' + ${studentDetail.student.studentId}}">ニックネーム</a>
    </th>
    <td>
      <span th:text="${studentDetail.student.nickname}">タロー</span>
    </td>
  </tr>
  <tr>
    <th>
      <a th:href="@{'/updateMailAddress/' + ${studentDetail.student.studentId}}">メールアドレス</a>
    </th>
    <td>
      <span th:text="${studentDetail.student.mailAddress}">taro@aaaa.com</span>
    </td>
  </tr>
  <tr>
    <th>
      <a th:href="@{'/updateAddress/' + ${studentDetail.student.studentId}}">地域</a>
    </th>
    <td>
      <span th:text="${studentDetail.student.address}">東京</span>
    </td>
  </tr>
  <tr>
    <th>
      <a th:href="@{'/updateAge/' + ${studentDetail.student.studentId}}">年齢</a>
    </th>
    <td>
      <span th:text="${studentDetail.student.age}">20</span>
    </td>
  </tr>
  <tr>
    <th>
      <a th:href="@{'/updateGender/' + ${studentDetail.student.studentId}}"> 性別</a>
    </th>
    <td>
      <span th:text="${studentDetail.student.gender}">男性</span>
    </td>
  </tr>
  <tr>
    <th>
      <a th:href="@{'/updateRemark/' + ${studentDetail.student.studentId}}">備考</a>
    </th>
    <td>
      <span th:text="${studentDetail.student.remark}">未登録</span>
    </td>
  </tr>
  </thead>
</table>

<h2>受講コース一覧</h2>
<table border="1">
  <thead>
  <tr>
    <th>コース名</th>
    <th>受講開始日</th>
    <th>サービス終了日</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentsCourses : ${studentDetail.studentsCourses}">
    <td>
      <a th:href="@{'/updateCourse/' + ${studentsCourses.courseId}}"
         th:text="${studentsCourses.courses.courseName}">コース名</a>
    </td>
    <td th:text="${studentsCourses.startDate}">2025-01-01</td>
    <td th:text="${studentsCourses.endDate}">2025-03-01</td>
  </tr>
  </tbody>
</table>

<form th:action="@{/saveStudentChanges}" method="post">
  <input type="hidden" name="studentId" th:value="${studentDetail.student.studentId}"/>
  <button type="submit">保存</button>
</form>

<form th:action="@{/studentMenu}" method="get">
  <button type="submit">キャンセル</button>
</form>

</body>
</html>